

<div class="container" *ngIf = "hero">
    <div class="row">
        <div class="col-8 col-md-8">
            <h1>{{hero.title}}</h1>
            <img class="image_receptpage" src='{{hero.image}}' alt="Card image cap">
            <p>{{hero.description}}</p>

                <ul>
                    <li><p><small class="text-muted">{{hero.meal}}</small></li>
                    <li><p><small class="text-muted">{{hero.categorie}}</small></li>
                    <li><p><small class="text-muted">{{hero.time}}</small></li>
                </ul>    
    
        </div>
    </div>
</div>





<!--
<app-receptenbox [childMessage]="parentMessage"></app-receptenbox>
-->