<div ng-controller="loginCtrl" class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.atomix.com.au/media/2015/06/atomix_user31.png" id="icon" alt="User Icon" style="width:250px"/>
    </div>

    <!-- Login Form -->
    <form (submit)="loginUser($event)">
      <input type="text" id="username" class="fadeIn second" placeholder="gebruikersnaam" [(ngModel)]="username" name="first"> 
      <input type="password" id="password" class="fadeIn third"placeholder="wachtwoord" [(ngModel)]="password" name="second">
      <br>
      <input type="submit" class="fadeIn fourth" value="submit">
    </form>
 
    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="wwVergeten" [class.activated]="currentUrl == '/ww-vergeten'"> Wachtwoord vergeten?</a>
    </div>

  </div>
</div>

